In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [6]:
bad_songs = pd.read_csv('datasets/bad_cleaned.csv')
bad_songs

                                                 lyrics
0     I mix the 4Hunnid with the designer  Stay lace...
1     I came to rule this stage with that Budden swa...
2     Gorillaz - Song Machine Episode 7 - 4/4  mxmto...
3       Learning is, indeed, a very great and a very...
4     Young nigga eatin', uh, bon appetit, uh  Messe...
...                                                 ...
5287  Pull up right on you give you the business  Ni...
5288  BTS - "Film out"  ​chloe moriondo - "I Eat Boy...
5289  Bandit Gang Marco - Bandit Ruffin - 1/11  J.Ju...
5290        No depende del lugar  Las nubes viajan y...
5291  Earl on the beat  Pablo Juan nigga, you know w...

[5292 rows x 1 columns]

In [13]:
good_songs = pd.read_csv('datasets/good_cleaned.csv')
good_songs = good_songs[['lyrics']].copy()
good_songs

                                                 lyrics
0     sam the sham miscellaneous wooly bully wooly b...
1      sugar pie honey bunch you know that i love yo...
2      when i woke up this morning you were on my mi...
3      you never close your eyes anymore when i kiss...
4      when youre alone and life is making you lonel...
...                                                 ...
4861   my face above the water my feet cant touch th...
4862  enrique iglesias dime si es verdad me dijeron ...
4863   going out tonight changes into something red ...
4864   oh man oh man oh man not againyeah i learned ...
4865   i want you to breathe me in let me be your ai...

[4866 rows x 1 columns]

In [15]:
'''splitting'''
from sklearn.model_selection import train_test_split

# Combine the two dataframes into one
main = pd.concat([good_songs, bad_songs], ignore_index=True)

# Create a new column 'label' with 1 for good songs and 0 for bad songs
main['label'] = (main['lyrics'].isin(good_songs['lyrics'])) * 1

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(main['lyrics'], main['label'], test_size=0.2, random_state=42)

In [ ]:
'''applying bag of words'''
vect = CountVectorizer().fit(text_train)
X_train = vect.transform(text_train)

scores = cross_val_score(LogisticRegression(), X_train, y_train, cv=5)
print("Mean cross-validation accuracy: {:.2f}".format(np.mean(scores)))